.roulette-number-box {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  border: 1px white solid;
  margin: 1px;
}

.roulette-number-box:hover {
  border-color: yellow;
}

.roulette-button-group {
  display: flex;
  flex-direction: column-reverse;
}

#roulette-numbers {
  display: flex;
  flex-direction: row;
}

#betting-zone {
  background-color: #565656;
  padding: 50px;
}

#chat {
  background-color: black;
  color: white; 
  height: 100%;
}